* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
#container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: background 0.5s;
}
main.none {
  background-color: rgba(172, 172, 164, 70%); /* None */
}
main.positive {
  background-color: rgba(178, 164, 164, 80%); /* Positive */
}
main.negative {
  background-color: rgba(145, 126, 91, 80%); /* Negative */
}
main .social {
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #5c3f2c;
  padding: 0.7rem 2rem;
  display: flex;
  gap: 1.5rem;
  border: 3px solid #e9ddce;
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
}
main .social a {
  color: #e9ddce;
  font-size: 2rem;
  display: inline-block;
  transition: color 0.5s;
}
main .social a:hover {
  color: #b68c64;
}
#counter {
  background-color: rgba(92, 63, 44, 70%);
  font-size: 10rem;
  font-weight: 600;
  color: #fff;
  padding: 2rem;
  width: 50%;
  max-width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
  border-radius: 15px;
}
main .button-container {
  width: 70%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main .button-container .btn {
  background-color: #5c3f2c;
  color: #e9ddce;
  outline: none;
  border: 3px solid #e9ddce;
  border-radius: 10px;
  transition: background 0.5s;
  cursor: pointer;
  font-size: 1.7rem;
}
#reset {
  padding: 0.7rem 5rem;
  font-weight: 600;
}
#increase,
#decrease {
  font-weight: 700;
  padding: 0.7rem 3rem;
}
main .button-container .btn:hover {
  background-color: #b68c64;
}
@media screen and (max-width: 750px) {
  main {
    gap: 1rem;
  }
  #counter {
    width: 90%;
    margin: 2rem;
  }
  main .button-container {
    width: 90%;
    flex-direction: column;
    gap: 1.5rem;
  }
  main .button-container .btn {
    padding: 0.5rem 0 !important;
  }
}
